	body{
		margin:0;
		font-family:Arial,sans-serif;
		display:flex;
		height:100vh;
		background-color:#282c34
		}
		
	#playlist{
		width:350px;
		background-color:#282c34;
		color:#fff;
		overflow-y:auto;
		border-right:1px solid #444;
		padding:20px;
		box-shadow:2px 0 5px rgb(0 0 0 / .2);
		display:flex;
		flex-direction:column
		}
		
	#search-input,#url-input{
		width:100%;
		padding:10px;
		margin-bottom:10px;
		border:1px solid #444;
		border-radius:5px;
		background-color:#3c4043;
		color:#fff;
		font-size:1em;
		box-sizing:border-box
		}
		
	#epg-button{
		display:none;
		width:100%;
		padding:10px;
		margin-bottom:10px;
		background-color:#61dafb;
		color:#000;
		border:none;
		border-radius:5px;
		font-size:1em;
		cursor:pointer;
		box-shadow:0 4px 8px rgb(0 0 0 / .3)
		}
		
	#fetch-button{
		width:100%;
		padding:10px;
		margin-bottom:10px;
		background-color:#61dafb;
		color:#000;
		border:none;
		border-radius:5px;
		font-size:1em;
		cursor:pointer;
		box-shadow:0 4px 8px rgb(0 0 0 / .3)
		}
		
	#fetch-button:hover{
		background-color:#4fa3c4
		}
		
	#epg-button:hover{
		background-color:#4fa3c4
		}
		
	#video-container{
		flex:1;
		display:flex;
		flex-direction:column;
		z-index:2
		}
		
	#video{
		flex:1;
		width:100%;
		height:100%;
		background-color:#000
		}
		
	#video-list{
		list-style:none;
		padding:0;
		margin:0
		}
		
	#video-list li{
		padding:10px;
		margin:5px 0;
		border-radius:5px;
		cursor:pointer;
		transition:background-color .3s ease,transform .2s ease;
		display:flex;
		align-items:center
		}
		
	#video-list li:hover{
		background-color:#61dafb;
		transform:scale(1.05)
		}
		
	#video-list img{
		width:50px;
		height:50px;
		margin-right:10px;
		border-radius:5px;
		object-fit:cover;
		object-fit:contain
		}
		
	.video-title{
		font-size:1em
		}
		
	.active{
		background-color:#4fa3c4
		}
		
	#overlay{
		display:none;
		flex-direction:column;
		align-items:center;
		overflow-y:auto;
		z-index:2;
		flex:1
		}
		
	#epg-container{
		display:none;
		z-index:1000;
		position:fixed;
		width:100%;
		height:100%;
		overflow-y:scroll;
		overflow-x:scroll;
		background-color:#282c34
		}
		
	#search-input{
		display:none
		}
	
	.input-container{
		position:relative;
		display:flex;
		align-items:center;
		width:100%
		}
		
	#upload-button{
		width:10%;
		padding:10px;
		margin-bottom:10px;
		margin-left:5px;
		background-color:#61dafb;
		color:#000;
		border:none;
		border-radius:5px;
		font-size:1em;
		cursor:pointer;
		box-shadow:0 4px 8px rgb(0 0 0 / .3)
		}
		
	#upload-button:hover{
		background-color:#4fa3c4
		}

	div.sticky {
		position: sticky;
		top: 0;
		padding: 5px;
		display:flex;
		align-items:center;
		width:100%;
		background-color: #cae8ca;
		border: 2px solid #4CAF50;
